extend layout

block content
   .container
      .jumbotron
         h1.text-center Welcome to this page #{user.user}
         .row
            .col-md-6.col-md-offset-3
               p
                  | This is how we roll when we run off the housing place and do things!
                  | And this continues on the paragraph where it left off?
                  | Eyy this is how you make sentences i guess. 
                  | This is way easier than doing it the old fashion way. But what if this is in the
                  | middle of a sentance
      .row
         a(href='/restaurant/login') Restaurant App